*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Build outputs
*.apk
*.aab
*.ap_
*.dex

# Keystore files
*.jks
*.keystore

# OS files
Thumbs.db
desktop.ini
